<!-- <h3 style="text-align: center;">Virtual Classroom</h3> -->

<div class="logo_container">
    <img class="microsoft" src="/assets/microsoft.png" alt="Microsoft Logo"/>
</div>


<div class="login_register">
    <a href="/auth/login" class=" text login_btn">
        <button class="noselect custom_btn custom_btn1">
            <span class='text'>Login</span>
            <span class="icon">
                <img class="login_img" src="/assets/login.png" alt="Login"/>
            </span>
        </button>
    </a>
    
    <a href="/auth/register" class="text register_btn">
        <button class="noselect custom_btn custom_btn2">
            <span class='text'>Register</span>
            <span class="icon">
                <img class="register_img" src="/assets/Register.png" alt="Register"/>
            </span>
        </button>
    </a>
</div>

<h1 class="virtual_classroom">VIRTUAL CLASSROOM</h1>

