.logo_container {
  height: 35vh;
  margin: 50px auto;
  display: flex;
  justify-content: center;
}

.logo_container img {
  height: 100%;
}

.login_register{
    display: flex;
  justify-content: center;
}

.noselect {
    /* -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
          -webkit-tap-highlight-color: transparent; */
  }

.custom_btn {
	width: 150px;
	height: 50px;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	border: none;
	border-radius: 5px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    margin: 20px;
    background: #81bc06;
}

.custom_btn2{
    background: rgb(16, 139, 255);
}



.custom_btn, .custom_btn span {
	transition: 150ms;
}

.custom_btn .text {
	transform: translateX(35px);
	color: white;
	font-weight: bold;
}

.custom_btn .icon {
	position: absolute;
	border-left: 1px solid #81bc06;
	transform: translateX(110px);
	height: 40px;
	width: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.custom_btn2 .icon{
	border-left: 1px solid rgb(16, 139, 255);
}

.custom_btn svg {
	width: 15px;
	fill: #eee;
}

.custom_btn:hover {
	background: #81bc06;
}
.custom_btn2:hover {
	background: rgb(16, 139, 255);
}



.custom_btn:hover .text {
	color: transparent;
}

.custom_btn:hover .icon {
	width: 150px;
	border-left: none;
	transform: translateX(0);
}

.custom_btn:focus {
	outline: none;
}

.icon img{
    height: 70%;
    padding-right: 10px;
}




/* 
invited page ✅
(admin) ✅
class joined confirmation  ✅
date
discussion alignment admin ✅
checked unchecked ✅
assignment - faculty ✅
*/